* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.lilas {
    background-color: rgb(247, 185, 247);
    height: 250px;
    width: 2560px;
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

.lilas div {
    width: 100px;
    height: 100px;
    background-color: rgb(212, 116, 239);
    border: 2px solid black;
    border-radius: 50%;
}

.green {
    background-color: rgb(148, 255, 157);
    height: 250px;
    width: 2560px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.green div {
    width: 100px;
    height: 100px;
    background-color: rgb(90, 240, 105);
    border: 2px solid black;
    border-radius: 50%;
}

.red {
    background-color: rgb(245, 116, 116);
    height: 250px;
    width: 2560px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.red div {
    width: 100px;
    height: 100px;
    background-color: rgb(250, 75, 75);
    border: 2px solid black;
    border-radius: 50%;
}



.yellow {
    background-color: rgb(208, 255, 68);
    height: 250px;
    width: 2560px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 720px;
}

.yellow div {
    width: 100px;
    height: 100px;
    background-color: rgb(213, 246, 67);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50%;
}

.blue {
    background-color: rgb(108, 185, 236);
    height: 250px;
    width: 2560px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 500px;
}

.blue div {
    width: 100px;
    height: 100px;
    background-color: rgb(106, 138, 252);
    border: 2px solid black;
    border-radius: 50%;
}